<div class="feature-big">
    <div class="container">

      <!-- START of ONE BLOCK OF PLOT + TEXT -->
      <div class="row mb-5 site-section">

        <!-- Plots to the left -->
        <!-- 1) Persons (x-azis) vs n_quotes (y-axis) -->
        <div class="col-lg-7" data-aos="fade-right">
          <img src="/assets/images/undraw_gift_card_6ekc.svg" alt="Image" class="img-fluid">
        </div>

        <!-- Block of text to the right -->
        <div class="col-lg-5 pl-lg-5 ml-auto mt-md-5">
          <h2 class="text-black">Few people are quoted many times</h2>
          <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem neque nisi architecto autem molestias corrupti officia veniam.</p>
          
          <div class="author-box" data-aos="fade-left">
            <div class="d-flex mb-4">
              <div class="mr-3">
                <img src="/assets/images/person_4.jpg" alt="Image" class="img-fluid rounded-circle">
              </div>
              <div class="mr-auto text-black">
                <strong class="font-weight-bold mb-0">Grey Simpson</strong> <br>
                Co-Founder, XYZ Inc.
              </div>
            </div>
            <blockquote>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus vitae ipsa asperiores inventore aperiam iure?&rdquo;</blockquote>
          </div>
        </div>
      </div>
      <!-- END of ONE BLOCK OF PLOT + TEXT -->



    </div>
</div>