<div class="site-section" id="faq-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-5 mb-lg-0" data-aos="fade-right">
          <img src="/assets/images/landing_1.png" alt="Image" class="img-fluid">
        </div>
        
        <div class="col-lg-6 ml-auto pl-lg-5">
          <span class="sub-title">Ask Us, We Are Happy To Answer</span>
          <h2 class="font-weight-bold text-black mb-5">Frequently Ask Questions</h2>
          <div class="accordion" id="accordionExample">
            

            <div class="accordion-item">
              <h2 class="mb-0 rounded mb-2">
                <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                How much you charge for a building?</a>
              </h2>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="accordion-body">
                  <p>Lorem ipsum dolor sit amet, <a href="#">Cnsectetur adipisicing</a> elit. Eos quos incidunt, perspiciatis, ad saepe, magnam error adipisci vitae ut provident alias! Odio debitis error ipsum molestiae voluptas accusantium quibusdam animi, soluta explicabo asperiores aliquid, modi natus suscipit deleniti. Corrupti, autem.</p>
                </div>
              </div>
            </div>
            
            <div class="accordion-item">
              <h2 class="mb-0 rounded mb-2">
                <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  What is your process?
                </a>
              </h2>
             
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="accordion-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat voluptate animi hic quasi sequi odio, vitae dolorum soluta sapiente debitis ad similique tempore, aliquam quae nam deserunt dicta ullam perspiciatis minima, quam. Quis repellat corporis aperiam, veritatis nemo iure inventore.</p>
                </div>
              </div>
            </div>
            
            <div class="accordion-item">
              <h2 class="mb-0 rounded mb-2">
                <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  How it works? Please let us know!
                </a>
              </h2>
              
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="accordion-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum et dolorum libero consequuntur facere molestias beatae quod labore quidem ad quasi eius pariatur quae nam quo soluta optio dicta, doloribus ullam fugit nulla! Itaque necessitatibus eum sed quam eos id!</p>
                </div>
              </div>
            </div>
            
            <div class="accordion-item">
              <h2 class="mb-0 rounded mb-2">
                <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Is it free?
                </a>
              </h2>

              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="accordion-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos quos incidunt, perspiciatis, ad saepe, magnam error adipisci vitae ut provident alias! Odio debitis error ipsum molestiae voluptas accusantium quibusdam animi, soluta explicabo asperiores aliquid, modi natus suscipit deleniti. Corrupti, autem.</p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="mb-0 rounded mb-2">
                <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  Where to find you? Where is your location?
                </a>
              </h2>

              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="accordion-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos quos incidunt, perspiciatis, ad saepe, magnam error adipisci vitae ut provident alias! Odio debitis error ipsum molestiae voluptas accusantium quibusdam animi, soluta explicabo asperiores aliquid, modi natus suscipit deleniti. Corrupti, autem.</p>
                </div>
              </div>
            </div>
           
          </div>

        </div>
      </div>
    </div>
</div>