<div class="site-blocks-cover" style="overflow: hidden;">
    <div class="container">
      <div class="row align-items-center justify-content-center">

        <div class="col-md-12" style="position: relative;" data-aos="fade-up" data-aos-delay="200">
          
          <!---->
          <img src="assets\images\Leader_giving_speech_illustration_concept_vector-0.png"
          alt="Image" width="600" class="img-fluid img-absolute">

          
          <div class="row mb-4" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-6 mr-auto">
              <h1>Who has a voice in the media?</h1>
              <p class="mb-5">
                What a pleasure it is to be listened to… The ability to make your voice heard
                is a privilege that (very) few can afford. Starting from the 2015-2020 Quotebank 
                dataset gathering 178 million speaker-attributed quotations from various web domains, 
                we will tackle the following question: <b>who has a voice in the media?</b>
              </p>
              <div>
                <a href="https://github.com/epfl-ada/ada-2021-project-quotebankers" target="_blank" class="btn btn-primary mr-2 mb-2">Github repository</a>
              </div>
            </div>
            
            
          </div>

        </div>
      </div>
    </div>
</div>  