<div class="site-section testimonial-wrap" id="testimonials-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center">
          <h2 class="section-title mb-3">Testimonials</h2>
        </div>
      </div>
    </div>
    <div class="slide-one-item home-slider owl-carousel">
        <div>
          <div class="testimonial">
            <figure class="mb-4 d-block align-items-center justify-content-center">
              <div><img src="/assets/images/person_3.jpg" alt="Image" class="w-100 img-fluid mb-3 shadow"></div>
            </figure>
            <blockquote class="mb-3">
              <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>
            </blockquote>
            <p class="text-black"><strong>John Smith</strong></p>

            
          </div>
        </div>
        <div>
          <div class="testimonial">
            
            <figure class="mb-4 d-block align-items-center justify-content-center">
              <div><img src="/assets/images/person_2.jpg" alt="Image" class="w-100 img-fluid mb-3 shadow"></div>
            </figure>

            <blockquote class="mb-3">
              <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>
            </blockquote>
            
            <p class="text-black"><strong>Robert Aguilar</strong></p>
            
            
          </div>
        </div>

        <div>
          <div class="testimonial">
            <figure class="mb-4 d-block align-items-center justify-content-center">
              <div><img src="/assets/images/person_4.jpg" alt="Image" class="w-100 img-fluid mb-3 shadow"></div>
            </figure>
            <blockquote class="mb-3">
              <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>
            </blockquote>
            <p class="text-black"><strong>Roger Spears</strong></p>

            
          </div>
         
        </div>

        <div>
          <div class="testimonial">
            <figure class="mb-4 d-block align-items-center justify-content-center">
              <div><img src="/assets/images/person_1.jpg" alt="Image" class="w-100 img-fluid mb-3 shadow"></div>
            </figure>
            <blockquote class="mb-3">
              <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>
            </blockquote>
            <p class="text-black"><strong>Kyle McDonald</strong></p>

            
          </div>

        </div>

      </div>
</div>