<div class="site-section bg-light" id="our-team-section">
    <div class="container">
      <div class="row mb-5 justify-content-center text-center"  data-aos="fade-up">
        <div class="col-7 text-center mb-4">
          <h2 class="section-title">Our Team</h2>
          <p class="lead">As our work speaks for itself, we'll keep it short: here we are, the Quotebankers! This is the course project of <a href="https://dlab.epfl.ch/teaching/fall2021/cs401/">Applied Data Analysis</a> at EPFL in Fall 2021.</p>
        </div>
      </div>
     
      <div class="row">

        <div class="col-lg-3 col-md-6 mb-3" data-aos="fade-up" data-aos-delay="30">
          <div class="person">
            <div class="bio-img">
              <figure>
                <img src="/assets/images/mr-handsome.jpg" alt="Image" class="img-fluid">
              </figure>
              <div class="social">
                <a href="https://www.linkedin.com/in/benjamin-hansson-39b391140/"><span class="icon-linkedin"></span></a>
                <a href="https://github.com/Benjamin-Hansson"><span class="icon-github"></span></a>
                <!-- <a href="#"><span class="icon-instagram"></span></a> -->
              </div>
            </div>
            <h2 class="text-black h1">Benjamin Hansson</h2>
            <span class="sub-title d-block mb-3">Our CNN expert</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum excepturi corporis qui doloribus perspiciatis ipsa modi accusantium repellat.</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-3" data-aos="fade-up" data-aos-delay="30">
          <div class="person">
            <div class="bio-img">
              <figure>
                <img src="/assets/images/eliott.jpg" alt="Image" class="img-fluid">
              </figure>
              <div class="social">
                <a href="https://www.linkedin.com/in/eliott-zemour/"><span class="icon-linkedin"></span></a>
                <a href="https://github.com/EliottZemour"><span class="icon-github"></span></a>
                <!-- <a href="#"><span class="icon-instagram"></span></a> -->
              </div>
            </div>
            <h2 class="text-black h1">Eliott Zemour</h2>
            <span class="sub-title d-block mb-3">Our plotly & NLP expert</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum excepturi corporis qui doloribus perspiciatis ipsa modi accusantium repellat.</p>
            
          </div>
        </div>
        
        <div class="col-lg-3 col-md-6 mb-3" data-aos="fade-up" data-aos-delay="30">
          <div class="person">
            <div class="bio-img">
              <figure>
                <img src="/assets/images/matheus.jpg" alt="Image" class="img-fluid">
              </figure>
              <div class="social">
                <a href="https://www.linkedin.com/in/matheus-bernat/"><span class="icon-linkedin"></span></a>
                <a href="https://github.com/matheus-bernat"><span class="icon-github"></span></a>
                <!-- <a href="#"><span class="icon-instagram"></span></a> -->
              </div>
            </div>
            <h2 class="text-black h1">Matheus Bernat</h2>
            <span class="sub-title d-block mb-3">Our clustering expert</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum excepturi corporis qui doloribus perspiciatis ipsa modi accusantium repellat.</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-3" data-aos="fade-up" data-aos-delay="30">
          <div class="person">
            <div class="bio-img">
              <figure>
                <img src="/assets/images/bench.jpg" alt="Image" class="img-fluid">
              </figure>
              <div class="social">
                <a href="https://www.linkedin.com/in/thomas-benchetrit/"><span class="icon-linkedin"></span></a>
                <a href="https://github.com/ThomasBench"><span class="icon-github"></span></a>
                <!-- <a href="#"><span class="icon-instagram"></span></a> -->
              </div>
            </div>
            <h2 class="text-black h1">Thomas Benchetrit</h2>
            <span class="sub-title d-block mb-3">Our UI & NLP expert</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum excepturi corporis qui doloribus perspiciatis ipsa modi accusantium repellat.</p>
          </div>
        </div>

        <!-- <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="100">
          <div class="person">
            <div class="bio-img">
              <figure>
                <img src="/assets/images/person_5.jpg" alt="Image" class="img-fluid">
              </figure>
              <div class="social">
                <a href="#"><span class="icon-facebook"></span></a>
                <a href="#"><span class="icon-twitter"></span></a>
                <a href="#"><span class="icon-instagram"></span></a>
              </div>
            </div>
            <h2 class="text-black h1">George Brook</h2>
            <span class="sub-title d-block mb-3">Founder</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum excepturi corporis qui doloribus perspiciatis ipsa modi accusantium repellat.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="200">
          <div class="person">
            <div class="bio-img">
              <figure>
                <img src="/assets/images/person_6.jpg" alt="Image" class="img-fluid">
              </figure>
              <div class="social">
                <a href="#"><span class="icon-facebook"></span></a>
                <a href="#"><span class="icon-twitter"></span></a>
                <a href="#"><span class="icon-instagram"></span></a>
              </div>
            </div>
            <h2 class="text-black h1">Emely Hopson</h2>
            <span class="sub-title d-block mb-3">Marketing</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum excepturi corporis qui doloribus perspiciatis ipsa modi accusantium repellat.</p>
            
          </div>
        </div> -->

      </div>
    </div>
  </div>