<div class="site-section bg-light" id="our-team-section">
    <div class="container">
      <div class="row mb-5 justify-content-center text-center"  data-aos="fade-up">
        <div class="col-7 text-center  mb-5">
          <h2 class="section-title">Our Team</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga quos quaerat sapiente nam, id vero.</p>
        </div>
      </div>
     
      <div class="row">

        <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="100">
          <div class="person">
            <div class="bio-img">
              <figure>
                <img src="/assets/images/person_1.jpg" alt="Image" class="img-fluid">
              </figure>
              <div class="social">
                <a href="#"><span class="icon-facebook"></span></a>
                <a href="#"><span class="icon-twitter"></span></a>
                <a href="#"><span class="icon-instagram"></span></a>
              </div>
            </div>
            <h2 class="text-black h1">Cloe Marena</h2>
            <span class="sub-title d-block mb-3">President</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum excepturi corporis qui doloribus perspiciatis ipsa modi accusantium repellat.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="200">
          <div class="person">
            <div class="bio-img">
              <figure>
                <img src="/assets/images/person_2.jpg" alt="Image" class="img-fluid">
              </figure>
              <div class="social">
                <a href="#"><span class="icon-facebook"></span></a>
                <a href="#"><span class="icon-twitter"></span></a>
                <a href="#"><span class="icon-instagram"></span></a>
              </div>
            </div>
            <h2 class="text-black h1">John Rooster</h2>
            <span class="sub-title d-block mb-3">Marketing</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum excepturi corporis qui doloribus perspiciatis ipsa modi accusantium repellat.</p>
            
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="300">
          <div class="person">
            <div class="bio-img">
              <figure>
                <img src="/assets/images/person_3.jpg" alt="Image" class="img-fluid">
              </figure>
              <div class="social">
                <a href="#"><span class="icon-facebook"></span></a>
                <a href="#"><span class="icon-twitter"></span></a>
                <a href="#"><span class="icon-instagram"></span></a>
              </div>
            </div>
            <h2 class="text-black h1">Will Turner</h2>
            <span class="sub-title d-block mb-3">Marketing</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum excepturi corporis qui doloribus perspiciatis ipsa modi accusantium repellat.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up">
          <div class="person">
            <div class="bio-img">
              <figure>
                <img src="/assets/images/person_4.jpg" alt="Image" class="img-fluid">
              </figure>
              <div class="social">
                <a href="#"><span class="icon-facebook"></span></a>
                <a href="#"><span class="icon-twitter"></span></a>
                <a href="#"><span class="icon-instagram"></span></a>
              </div>
            </div>
            <h2 class="text-black h1">Nicolas Stainer</h2>
            <span class="sub-title d-block mb-3">Financing</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum excepturi corporis qui doloribus perspiciatis ipsa modi accusantium repellat.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="100">
          <div class="person">
            <div class="bio-img">
              <figure>
                <img src="/assets/images/person_5.jpg" alt="Image" class="img-fluid">
              </figure>
              <div class="social">
                <a href="#"><span class="icon-facebook"></span></a>
                <a href="#"><span class="icon-twitter"></span></a>
                <a href="#"><span class="icon-instagram"></span></a>
              </div>
            </div>
            <h2 class="text-black h1">George Brook</h2>
            <span class="sub-title d-block mb-3">Founder</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum excepturi corporis qui doloribus perspiciatis ipsa modi accusantium repellat.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="200">
          <div class="person">
            <div class="bio-img">
              <figure>
                <img src="/assets/images/person_6.jpg" alt="Image" class="img-fluid">
              </figure>
              <div class="social">
                <a href="#"><span class="icon-facebook"></span></a>
                <a href="#"><span class="icon-twitter"></span></a>
                <a href="#"><span class="icon-instagram"></span></a>
              </div>
            </div>
            <h2 class="text-black h1">Emely Hopson</h2>
            <span class="sub-title d-block mb-3">Marketing</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum excepturi corporis qui doloribus perspiciatis ipsa modi accusantium repellat.</p>
            
          </div>
        </div>

      </div>
    </div>
  </div>