<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
		{% include loading.html %}
		<div class="site-wrap"  id="home-section">
			<div class="site-mobile-menu site-navbar-target">
				<div class="site-mobile-menu-header">
					<div class="site-mobile-menu-close mt-3">
						<span class="icon-close2 js-menu-toggle"></span>
					</div>
				</div>
				<div class="site-mobile-menu-body"></div>
			</div>

			{% include header.html %}

			{{ content }}

			{% include footer.html %}
		</div>
		{% include js.html %}
  </body>
</html>